@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  --dark1: #342009;
  --dark2: #975102;
  --mid: #FB8604;
  --light2: #FDB768;
  --light1: #FEEEDC;
}

body.darkmode {
  --light1: #342009;
  --light2: #975102;
  --mid: #FB8604;
  --dark2: #FDB768;
  --dark1: #FEEEDC;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: var(--light1);
  color: var(--dark1);
  font-size: max(1.1vw, 0.9vh);
  margin: 0.5vw;
}

a {
  text-decoration: none;
  color: var(--dark2);
}

.block li{
  display: inline;
}

.intro {
  padding: 0.1vw 1vw;
  background-color: var(--dark2);
  color: var(--light1);
  width: fit-content;
  margin: auto
}

li {
  margin: 0.5vw;
}

table {
  padding: 0.5em;
  align-self: start;
}

th {
  padding: 0.2vw;
  text-align: left;
}

.icon {
  text-align: center;
}

.both {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.left {
  margin-left: 0.5vw;
}

.right {
  margin-right: 0.5vw;
}

.body-text th, .body-text li{
  font-weight: 500;
}

.body-text {
  margin: auto;
}

ul {
  padding: 0px 0px 0px 2vw;
  margin: 1.1vw;
  padding-inline-start: min(4vw, 15px);
}

.wrap {
  border: 0.2vw solid var(--light2);
  margin: 0px auto;
  width: 50%;
  padding: 0px 1em;
  position: relative;
}

#darkmode {
  position: absolute;
  top: 1.5vw;
  right: 1.5vw;
  transition-duration: 0.5s;
  transition-property: transform;
  /* translate: rotate(0deg); */
}

.cherry {
  width: 20%;
}

#cleft {
  position: fixed;
  left: 0px;
  top: 40vh;
}

#cright {
  position: fixed;
  right: 0px;
  top: 10vh;
}

#nleft {
  position: fixed;
  left: 0px;
  width: 23%;
  top: 35vh;
}

#nright {
  position: fixed;
  width: 5%;
  right: 5vw;
  top: 5vh;
}

@media (max-aspect-ratio: 1/1) {
  .cherry, .night {
    display: none;
  }
  .wrap {
    width: 90%;
  }
}
